.layout-container {
  display: flex;
  min-height: 100vh;
  height: max-content;
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #1e293b;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);

  .logo-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 25px;

      img {
      width: 220px; 
      height: auto;        
      object-fit: contain;
    }

      img:hover {
      transform: scale(1.06);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 12px;
      margin: 8px 0;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #334155;
      }

      &.open {
        background-color: #1e2762;
      }
    }

    .admin-submenu {
      margin-left: 10px;
      padding-left: 8px;

      li {
        list-style:circle;
        margin: 5px 0;
        font-size: 14px;
      }
    }
  }
}

/* Fade animation for submenu */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Content area */
.content {
  flex: 1;
  padding: 40px;
}
