<button class="clear-btn" (click)="clearStorage()" *ngIf="tableData.length > 0">
  Clear Stored Data
</button>

<div class="table-container" *ngIf="tableData.length > 0; else noData">
  <table class="data-table">
    <thead>
      <tr>
        <th *ngFor="let head of headers">{{ head | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td *ngFor="let head of headers">{{ row[head] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p class="no-data">No task data found. Please upload a file in Create Task.</p>
</ng-template>
