.create-task-container {
    max-width: 1400px;
    margin: 40px auto;
    background: #faf8fc;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: left;
        margin-bottom: 20px;
        color: #060E32;
    }

    .form-group {
        margin-bottom: 18px;

        label {
            display: block;
            font-weight: 600;
            margin-bottom: 8px;
        }

        input[type='text'],
        select,
        input[type='file'] {
            width: 100%;
            padding: 10px;
            border: 1px solid #cbd5e1;
            border-radius: 6px;
            outline: none;
            font-size: 15px;
        }

        small {
            display: block;
            margin-top: 4px;
            color: #ef4444;
            font-size: 13px;
        }
    }

    .form-actions{
        text-align: left;

        button{
            background-color: #1e293b;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 15px;
            transition: 0.3s ease;

            &:hover {
                background: #1e3a8a;
            }

            &:disabled {
                background: #94a3b8;
                cursor: not-allowed;
            }
        }
    }
}