<div class="dashboard-container">
  <h1>Broker List</h1>

  <div *ngIf="loading" class="loading">Loading brokers...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div class="broker-grid" *ngIf="brokers.length > 0">
    <div class="broker-card" *ngFor="let broker of brokers">
      <img [src]="broker.logo" alt="{{ broker.brokerName }}" class="broker-logo" />
      <h2>{{ broker.brokerName }}</h2>

      <p>{{ broker.acc_session ? '🟢 Active' : '🔴 Inactive' }}</p>

       <button 
            class="details-btn" 
            *ngIf="!broker.acc_session">
            Login
        </button>
    </div>
  </div>

  <div *ngIf="!loading && brokers.length === 0 && !errorMessage" class="no-data">
    No brokers available.
  </div>
</div>
